@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.1rem;
}
